[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
chess = "*"
pympler = "*"
databases = {extras = ["postgresql"], version = "*"}
pyjwt = "*"
sqlalchemy = "*"
psycopg2 = "*"
passlib = "*"
bcrypt = "*"
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
websockets = "*"
watchdog = "*"
python-chess = "*"
pandas = "*"
numba = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.12"
