[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
chess = "*"
pympler = "*"
pyjwt = "*"
sqlalchemy = "*"
psycopg2 = "*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
python-multipart = "*"
websockets = "*"
watchdog = "*"
python-chess = "*"
pandas = "*"
numba = "*"
cython = "*"
databases = "*"
asyncpg = "*"
psutil = "*"
torch-geometric = "*"
matplotlib = "*"
tqdm = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
