.lobby-info {
    grid-column: span 2; /* Makes this div take both columns */
    text-align: center;
    padding: 2rem;
    background-color: #121417;
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    height: 400px;
}

.lobby-info ul {
    list-style-type: none; /* Remove list symbols */
    padding: 0;
    margin-bottom: 25px;
    width: 100%; /* Ensure full width */
}

.lobby-info ul li {
    padding: 10px 0;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px; /* Spacing between items */
}

.lobby-info ul li span {
    flex: 1; /* Make name take up available space */
    text-align: left;
}

.color-dropdown {
    flex: 0.3; /* Adjust width for dropdown */
    height: 30px;
    text-align: center;
}

.remove-button {
    width: 25px;
    padding: 0.3rem;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: #EDEDED;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.lobby-info ul li .empty-div {
    width: 25px;
}

.remove-button:hover {
    background-color: #40444B;
}