.MainPage {
	/* height: 100vh; */
}

.left-panel {
	flex: 1;
	padding: 20px;
}

.ChessGame {
	padding: 20px;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 4px 8px rgba(255, 255, 255, 0.1);
	border-radius: 15px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}