* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    
    background-color: #15191C;
    color: #EDEDED; 

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

h1 {
    margin-bottom: 25px;
}

.text-block {
    margin: 20px;
}

#root {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    padding-inline: 3rem;
    margin-inline: auto;

    padding-block: 25px;
    display: grid;
    align-items: start;
    grid-template-columns: 250px 1200px;
    gap: 25px; 
}

.widget {
    background-color: #1F2026;
    border-radius: 20px;
    color: #EDEDED;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #1A1D22;
}

.page {
    grid-column: 2;

    padding: 25px;
    width: 100%;
    max-width: 100%;
    min-height: calc(100vh - 50px);;
}

.center-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
